.btn-mustard {
    background-color: $mustard;
    border-radius   : 1rem;
    font-family     : $font-family;
    font-size       : 1.8rem;
    font-weight     : 600;
    text-align      : center;
    padding         : 1rem 2rem;
    border          : none;
    color           : $white;
    cursor          : pointer;

    &:active:not([disabled]) {
        animation: button-click 500ms;
    }

    &:hover:not([disabled]) {
        background-color: $mustard-opacity-70;
    }

    &[disabled],
    &[disabled]:hover {
        opacity: 0.2;
    }
}

.btn-success {
    animation       : success-btn-color 3000ms;
    border-radius   : 1rem;
    font-family     : $font-family;
    font-size       : 1.8rem;
    font-weight     : 600;
    text-align      : center;
    padding         : 1rem 2rem;
    border          : none;
    color           : $white;
    cursor          : pointer;

    &:active:not([disabled]) {
        animation: button-click 500ms;
    }
    
    &[disabled],
    &[disabled]:hover {
        opacity         : 0.2;
    }
}

.btn-black {
    background-color: $black;
    border-radius   : 1rem;
    font-family     : $font-family;
    font-size       : 1.8rem;
    font-weight     : 600;
    text-align      : center;
    padding         : 1rem 2rem;
    border          : none;
    color           : $white;
    cursor          : pointer;

    &:active {
        animation: button-click 500ms;
    }

    &:hover {
        background-color: $black-hover;
    }

    &[disabled],
    &[disabled]:hover {
        opacity         : 0.5;
        background-color: gray;
    }
}

.btn-black.w-icon {
    display        : inline-flex;
    justify-content: space-between;
    align-items    : center;

    & *:not(i) {
        margin-right: 2rem;
    }
}

.logo {

    display    : flex;
    align-items: center;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &:active {
        background-color: $mustard;
    }
}