.hotpink {
    color: hotpink;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: $gray-2;
}

.nav-links > li{
    display: inline;
}

.nav-cart-popout {
    // display: inline;
}

.product-item {
    background-color: $gray-1;
}

.no-border {
    border-width: thick;
}

.checkout-button{
    background-color: $mustard;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
}