.is-blurred {
    filter: blur(0.5rem);
}

.input[type=text],
.input[type=password],
.input[type=email] {
    display      : block;
    font-family  : $font-family;
    color        : $gray-4;
    font-size    : 1.8rem;
    border       : 1px solid rgba(0, 0, 0, 0.50);
    height       : 5rem;
    border-radius: 1rem;
    padding-left : 4rem;
    padding-right: 4rem;

    &:focus {
        color: $black;
    }
}

input.rectangle {
    display      : block;
    border       : 1px solid rgba(0, 0, 0, 0.60);
    border-radius: 0;
    color        : $black;
}

.image-small {
    width : 100px;
    height: auto;
}

.image-medium {
    width : 220px;
    height: auto;
}

.image-large {
    width : 320px;
    height: auto;
}

.image-small>img,
.image-medium>img,
.image-large>img {
    width            : 100%;
    height           : 100%;
    position         : relative;
    overflow         : hidden;
    background-size  : cover;
    background-repeat: no-repeat;
}

.linebreak {
    padding-top: 1rem;
    border     : 1px solid #000000 10%;
}

.title {
    font-size  : 2.2rem;
    font-weight: bold;
}

.text {
    font-size  : 1.8rem;
    font-size  : $fontsize-default;
    font-weight: normal;
}

.light {
    font-size     : 1.6rem;
    font-weight   : 400;
    line-height   : 2.2rem;
    letter-spacing: 0em;
    color         : rgba(0, 0, 0, 0.60)
}

.small {
    font-size: 1.4rem;
}

.bg-gray-1 {
    background-color: $gray-1;
}

.bg-gray-2 {
    background-color: $gray-2;
}

.bg-gray-3 {
    background-color: $gray-3;
}

.bg-gray-4 {
    background-color: $gray-4;
}

.hotpink {
    color: hotpink;
}

.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.bg-mustard {
    background-color: $mustard;
}

.bg-blood-orange {
    background-color: $blood-orange;
}

.modal {
    visibility: hidden;
    display   : none;
}

.modal.is-active {
    position        : fixed;
    visibility      : visible;
    display         : block;
    background-color: rgba(0, 0, 0, 0.50);
    height          : 100vh;
    width           : 100vw;
    top             : 0;
    left            : 0;
    z-index         : 9;
}

.nav-inner {
    display            : flex;
    justify-content    : space-between;
    // align-items     : center;
}

.nav-links {
    display    : flex;
    align-items: center;

    & li {
        margin-right: 0.4rem;

        & .nav-button {
            color      : $black;
            display    : inline-block;
            text-align : center;
            padding    : 1.4rem 1.6rem;
            font-weight: 700;
            cursor     : pointer;

            &:hover {
                background-color: $mustard-opacity-60;
                color           : $white;
            }
        }

        & .router-link-exact-active.nav-button,
        .nav-button.active {
            & span {
                border-bottom: solid;
                border-width : 0.4rem;
                border-color : $black;
            }
        }
    }

    & li:last-child {
        margin-left: 1rem;
    }
}

.checkout-bag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    cursor             : pointer;
    &:hover {
        background-color: $mustard-opacity-70;
    }
    &:active,
    &:focus {
        background-color: $blood-orange;
    }
}
.checkout-bag>a::before{
    content: "";
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border:0.2rem solid $mustard;
    display: block;
    height: 0.6rem;
    width: 1rem;
    margin-left: 0.6rem;
}
.checkout-bag>a::after{
    content: '';
    display: block;
    width: 2.6rem;
    height: 3rem;
    background: $mustard;
}

.checkout-bag>a{
    margin-right: 1rem;
}
.checkout-bag b{
    font-weight: 700;
}

.checkout-button {
    padding            : 0;
    margin             : 0;
    border-radius      : 50%;
    background-color   : $mustard;
    width              : 6.4rem;
    height             : 6.4rem;
    background-image   : url("~@/assets/bag.svg");
    background-repeat  : no-repeat;
    background-position: center;
    cursor             : pointer;

    & * {
        // position: absolute;
        background-color: $blood-orange;
        top             : 0;
        right           : 0;
        width           : 2rem;
        height          : 2rem;
        border-radius   : 50%;
        text-align      : center;
        color           : $white;
    }

    &:hover {
        background-color: $mustard-opacity-70;
    }

    &:active,
    &:focus {
        background-color: $blood-orange;
    }
}