// src:https://css.gg
// mail .gg-mail .gg-mail-open .gg-mail-reply
// lock .gg-lock .gg-lock-unlock
// chevrons .gg-chevron-down .gg-chevron-right
// details .gg-details-more

$ggs:1.2;

.gg-lock-unlock {
  box-sizing             : border-box;
  position               : relative;
  display                : block;
  transform              : scale($ggs);
  width                  : 12px;
  height                 : 6px;
  border                 : 2px solid;
  border-top-right-radius: 100px;
  border-top-left-radius : 100px;
  border-bottom          : transparent;
  margin-top             : -18px;
  margin-left            : -2px;

  &::after,
  &::before {
    content   : "";
    display   : block;
    box-sizing: border-box;
    position  : absolute;
  }

  &::after {
    border       : 2px solid transparent;
    box-shadow   : 0 0 0 2px;
    width        : 16px;
    height       : 10px;
    border-radius: 2px;
    left         : -4px;
    top          : 10px;
  }

  &::before {
    width     : 2px;
    height    : 6px;
    background: currentColor;
    left      : -2px;
    top       : 4px;
  }
}

.gg-lock {
  box-sizing             : border-box;
  position               : relative;
  display                : block;
  transform              : scale($ggs);
  width                  : 12px;
  height                 : 11px;
  border                 : 2px solid;
  border-top-right-radius: 50%;
  border-top-left-radius : 50%;
  border-bottom          : transparent;
  margin-top             : -12px;

  &::after {
    content      : "";
    display      : block;
    box-sizing   : border-box;
    position     : absolute;
    width        : 16px;
    height       : 10px;
    border-radius: 2px;
    border       : 2px solid transparent;
    box-shadow   : 0 0 0 2px;
    left         : -4px;
    top          : 9px;
  }
}


.gg-mail-open {
  display   : block;
  box-sizing: border-box;
  height    : 14px;
  border    : 2px solid;

  &::after {
    display      : block;
    box-sizing   : border-box;
    height       : 14px;
    border       : 2px solid;
    content      : "";
    position     : absolute;
    border-radius: 3px;
    width        : 14px;
    transform    : rotate(-45deg);
    bottom       : 3px;
    left         : 0;
  }

  border-top   : 0;
  transform    : scale($ggs);
  position     : relative;
  width        : 18px;
  border-radius: 2px;
}

.gg-mail-reply {
  display   : block;
  box-sizing: border-box;
  height    : 6px;
  border-top: 2px solid;

  &::before {
    display    : block;
    box-sizing : border-box;
    height     : 6px;
    border-top : 2px solid;
    content    : "";
    position   : absolute;
    width      : 6px;
    border-left: 2px solid;
    top        : -4px;
    left       : -1px;
    transform  : rotate(-45deg);
  }

  border-right           : 2px solid;
  transform              : scale($ggs);
  border-top-right-radius: 4px;
  position               : relative;
  width                  : 14px;
}

.gg-mail {
  display   : block;
  box-sizing: border-box;
  height    : 14px;
  border    : 2px solid;

  &::after {
    display      : block;
    box-sizing   : border-box;
    height       : 14px;
    border       : 2px solid;
    content      : "";
    position     : absolute;
    border-radius: 3px;
    width        : 14px;
    transform    : rotate(-45deg);
    bottom       : 3px;
    left         : 0;
  }

  overflow     : hidden;
  transform    : scale($ggs);
  position     : relative;
  width        : 18px;
  border-radius: 2px;
}

.gg-log-in {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 6px;
  height: 16px;
  border: 2px solid;
  border-left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: -10px
}
.gg-log-in::after,
.gg-log-in::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}
.gg-log-in::after {
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  left: -8px;
  bottom: 2px
}
.gg-log-in::before {
  border-radius: 3px;
  width: 10px;
  height: 2px;
  background: currentColor;
  left: -11px;
  bottom: 5px
}

.gg-log-in {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale($ggs);
  width: 6px;
  height: 16px;
  border: 2px solid;
  border-left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: -10px;

  &::after, &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
  }

  &::after {
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    left: -8px;
    bottom: 2px;
  }

  &::before {
    border-radius: 3px;
    width: 10px;
    height: 2px;
    background: currentColor;
    left: -11px;
    bottom: 5px;
  }
}

.gg-chevron-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
}
.gg-chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 6px;
  top: 4px
}

.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
}

.gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px
}

.gg-details-more {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 14px;
  border: 2px solid transparent
}
.gg-details-more::after,
.gg-details-more::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  border-radius: 3px;
  background: currentColor
}
.gg-details-more::before {
  box-shadow: 0 4px 0 0;
  top: 0;
  width: 16px
}
.gg-details-more::after {
  width: 10px;
  bottom: 0
}