@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: $fontsize-reset-percentage;      // 
    background-color: $white;                   // Standard
    color:$black;                               // todo;
    font-family: $font-family;                  // todo;
}

body {
    font-size: 1.8rem;                          // Sätter tillbaka standard fonten till 16px, men behåller 1rem till 10px
}