// Breakpoints & widths
$mobile-width: 900px;
$wrapper-width: 900px;

// Colors
$white: #FFF;
$black: #000;

// Typography
$fontsize-reset-percentage:62.5%;       // 1 rem == 10px
$font-family:Open Sans, sans-serif;      //