// Breakpoints & widths
$mobile-width: 900px;
$wrapper-width: 1366px;

// Colors
$white: #FFF;
$black: #000;
$gray-1: #EAE7DE;
$gray-2: #D7DACC;
$gray-3: #B4B9A9;
$mustard: #DF9C29;
$blood-orange: #EF7745;

// Typography
$fontsize-reset-percentage:62.5%;       // 1 rem == 10px
$font-family:Open Sans, sans-serif;      //